# Para correr con Docker (ver docker-compose.yml):
# DATABASE_URL=postgresql://user:pass@db_catalog:5432/catalog_db

# Para desarrollo local (sin Docker):
DATABASE_URL=sqlite:///./catalog.db
JWT_SECRET_KEY=28088ae11d2e1571053fe33386cbfa6e
