# FastAPI
APP_NAME=Booking Service
DEBUG=true

# Base de datos (PostgreSQL)
DATABASE_URL=postgresql+asyncpg://user:pass@db_booking:5432/db_booking

# JWT (debe coincidir con Identity Service)
JWT_SECRET_KEY=28088ae11d2e1571053fe33386cbfa6e
JWT_ALGORITHM=HS256

# PayPal Sandbox
PAYPAL_CLIENT_ID=tu_client_id_sandbox
PAYPAL_CLIENT_SECRET=tu_client_secret_sandbox
PAYPAL_SANDBOX=true
PAYPAL_RETURN_URL=http://localhost:15000/payment-success
PAYPAL_CANCEL_URL=http://localhost:15000

# Catalog Service (URL interna en Docker)
CATALOG_SERVICE_URL=http://catalog-service:15002

# Server
HOST=0.0.0.0
PORT=8003
