# FastAPI
APP_NAME=Chat Service
DEBUG=true

# Base de datos (MongoDB)
MONGO_URL=mongodb://mongo_chat:27017
MONGO_DB_NAME=db_chat

# JWT (debe coincidir con Identity Service)
JWT_SECRET_KEY=super_secreto_orizon_routes_123
JWT_ALGORITHM=HS256

# Server
HOST=0.0.0.0
PORT=8004
